<nav>
    <ul>
        <li>
            <a href="@@prefix/public/index.html"><i class="fa-solid fa-house" width="30px"></i></a>
        </li>
        <li>
            <a href="@@prefix/public/forms/thread.html" class="highlight"><i class="fa-solid fa-plus"></i> Add</a>
            <ul>
                <li><a href="@@prefix/public/forms/thread.html">Add a Thread</a></li>
                <li><a href="@@prefix/public/forms/site.html">Add a Site</a></li>
                <li><a href="@@prefix/public/forms/character.html">Add a Character</a></li>
                <li><a href="@@prefix/public/forms/partner.html">Add a Partner</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/directory.html">Muse Directory</a>
        </li>
        <li> | </li>
        <li>
            <a href="@@prefix/public/tracking/gb.html">Godly Behaviour</a>
            <ul>
                <li><a href="@@prefix/public/tracking/gb.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/gb.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/gb.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/tracking/wthi.html">Where The Hell Is</a>
            <ul>
                <li><a href="@@prefix/public/tracking/wthi.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/wthi.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/wthi.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/tracking/totl.html">Turn On The Light</a>
            <ul>
                <li><a href="@@prefix/public/tracking/totl.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/totl.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/totl.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/tracking/rtn.html">Remember The Name</a>
            <ul>
                <li><a href="@@prefix/public/tracking/rtn.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/rtn.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/rtn.html">Characters</a></li>
            </ul>
        </li>
        <li> | </li>
        <li>
            <a href="" class="inactive">Archives</a>
            <ul>
                NONE YET
            </ul>
        </li>
    </ul>
</nav>