<nav>
    <ul>
        <li>
            <a href="@@prefix/public/index.html" class="highlight"><i class="fa-solid fa-plus"></i> Add</a>
            <ul>
                <li><a href="@@prefix/public/forms/thread.html">Add a Thread</a></li>
                <li><a href="@@prefix/public/forms/site.html">Add a Site</a></li>
                <li><a href="@@prefix/public/forms/character.html">Add a Character</a></li>
                <li><a href="@@prefix/public/forms/partner.html">Add a Partner</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/sites/gb.html">Godly Behaviour</a>
            <ul>
                <li><a href="@@prefix/public/tracking/gb.html">Threads</a></li>
                <li><a href="@@prefix/public/tracking/gb-archived.html">Archived Threads</a></li>
                <li><a href="@@prefix/public/charts/gb.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/gb.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/sites/owe.html">Once We Were</a>
            <ul>
                <li><a href="@@prefix/public/tracking/owe.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/owe.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/owe.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/sites/rtn.html">Remember The Name</a>
            <ul>
                <li><a href="@@prefix/public/tracking/rtn.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/rtn.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/rtn.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/sites/corson.html">Corson Forever</a>
            <ul>
                <li><a href="@@prefix/public/tracking/corson.html">Threads</a></li>
                <li><a href="@@prefix/public/charts/corson.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/corson.html">Characters</a></li>
            </ul>
        </li>
    </ul>
</nav>